.Navbar {
    margin: 50px 300px;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 89px;
    background: #817b7b23;
    box-shadow:  -7px -7px 10px #0f0f0f,
    7px 7px 10px #0f0f0f;

    &-logo-sahra {
        width: 90px;
    }

    &-link {
        padding: 40px;
        font-size: 20px;
        font-weight: 600;
    }

    &-links {
        margin-left: 600px;
        font-size: 25px;
    }
}